html,body {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}
.nuxt-render{
    min-height: 100vh;
    margin-top: 80px;
}
.primary-bck{
    background: #FB2247;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.44);
    transition: 2s ease-in;
}
.show-form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    align-items: center;
    justify-content: center;
    /* padding: 25px; */
    transform: translate(-50%, -50%);
    z-index: 10000;
}
.hide-form{
    display: none;
}
header{
    position: fixed; 
    left: 0;
    right: 0;
    top: 0;
    margin: 0;   
    display: grid;
    grid-template-columns: 80px auto;
    background: #580231;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    padding: 3px 60px;
    z-index: 30000;
    height: 68px;
}
.wr-logo{
    width: 90px;
    text-align: center;
    background: white;
    border-radius: 10px 20px;

}
.btn{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    cursor: pointer;
    transition: .6s ease-in;
}
.donate{
    justify-self: end;
}
.donate:hover{
    background: yellowgreen;
    color: #e6e6e6;
}
.app-links{
    justify-self: end;
}
.container{
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto / 1fr;
}

@media (max-width: 767px) {
    header{
        grid-template-columns: 110px auto 60px;
        padding: 2px 24px;
        align-items: center;
    }
    .app-links{
        display: none;
    }
    .toggle-icon{
        color: #fefefe;
        justify-self: end;
        cursor: pointer;
    }
}

@media(max-width: 360px) {
    header{
        grid-template-columns: auto 60px;
        padding: 0 24px;
    }
    .toggle-icon{
        color: #fefefe;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .toggle-icon{
        display: none;
    }
}